@import "layout";
@import "headernavbar";

html {
  // default font size is 16px
  // 16 px * .625 = 10px (much better base font than 16)
  font-size: 62.5%; // 1rem is 10px
}

h1 {
  font-size: 1.5rem; // 15px
}

// Every element, after, and before has no margin, padding, and inherited box-sizing.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "montserrat";
}

body {
  overflow-x: hidden;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
}
